@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.BaseViewModel>
@using System.Collections.Generic
@{
    var keywords = String.Join(",", Model.Keywords);
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="last-modified" content="@Model.GeneratedDate" />
    <meta name="keywords" content="@keywords" />
    <title>Snow Byte</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    @Html.CanonicalUrl()
</head>
<body class="home blog">
    <div id="page" class="hfeed site">
        <header id="masthead" class="site-header" role="banner">
            <hgroup>
                <h1 class="site-title"><a href="/" title="Snow Byte" rel="home">Snow Byte</a>
                <p><small>Minimal Sandra.Snow Theme.</small></p></h1>
            </hgroup>
            <nav role="navigation" class="site-navigation main-navigation">
                <h1 class="assistive-text">Menu</h1>
                <div class="assistive-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>
                <div class="menu">
                    <ul>
                        <li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/category">Categories</a></li>
                        <li><a href="/archive">Archive</a></li>
                        <li><a href="/rss.xml">RSS</a></li>
                        <li><a href="/feed.xml">Atom</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="main">
            <div id="primary" class="site-content">
                <div id="content" role="main">
                  @RenderBody()
                </div>
                <!-- #content -->
            </div>
            <!-- #primary .site-content -->
        </div>
        <!-- #main -->

        <footer class="site-footer" role="contentinfo">
            <div class="site-info">
                Powered by <a href="https://github.com/Sandra/Sandra.Snow" rel="generator">Sandra.Snow</a>.	
            </div>
            <!-- .site-info -->
        </footer>
        <!-- #colophon .site-footer -->
    </div>
    <!-- #page .hfeed .site -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src='/javascripts/prettify.js' type='text/javascript'></script>
    
    @Html.RenderGoogleAnalytics("UA-######-##")
    
    <script type='text/javascript'>
      $(function () {
        $("pre code").parent().each(function () {
          if (!$(this).hasClass("prettyprint")) {
            $(this).addClass("prettyprint");
            a = true
          }
        });

        prettyPrint();
      });
    </script>
</body>
</html>
